
        {{#each matchingProducts}}
            <div>
                <h3>Album Title: {{product_name}}</h3>
                <h3>Retail Price: {{retail_price}}</h3>
                <h3>Wholesale Price: {{wholesale_price}}</h3>
                <h3>Artist: {{product_artist}}</h3>
                <h3>In Stock: {{in_stock}}</h3>
                <h3>Quantity: {{quantity}}</h3>
                <h4>Genre: {{category_id}}</h4>
            </div>
        {{/each}}
    </div>
</div>

{{!-- {{#each matchingProducts}}
<div>
    <h3>Rap: {{genre_type}}</h3>
    <h3>Country: {{genre_type}}</h3>
    <h3>Rock: {{genre_type}}</h3>
    <h3>Classic Rock: {{genre_type}}</h3>
    <h3>Alternative</h3>: {{genre_type}}</h3>
</div>
{{/each}} --}}