<div>
    <h1>View Products by Media Type</h1>
    <div>
        {{#each matchingProducts}}
            <div>
                <h3>Album Title: {{product_name}}</h3>
                <h3>Retail Price: {{retail_price}}</h3>
                <h3>Wholesale Price: {{wholesale_price}}</h3>
                <h3>Artist: {{produtct_artist}}</h3>
            </div>
        {{/each}}
    </div>
</div>

<div>
    <hi>View Products by Genre</hi>
</div>
{{!-- {{#each matchingProducts}}
<div>
    <h3>Rap: {{genre_type}}</h3>
    <h3>Country: {{genre_type}}</h3>
    <h3>Rock: {{genre_type}}</h3>
    <h3>Classic Rock: {{genre_type}}</h3>
    <h3>Alternative</h3>: {{genre_type}}</h3>
</div>
{{/each}} --}}